body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
}

.navbar {
  width: 300px;
  margin-bottom: 0;
  padding: 0;
  font-weight: normal;
}

.nav-item {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.logo {
  position: relative;
  width: 700px;
  height: 500px;
  -webkit-animation: 4s fadein;
          animation: 4s fadein;
  margin-left: -30px;
}

.logo .uno,
.logo .dos,
.logo .tres {
  position: absolute;
  width: 120px;
  height: 100%;
  background: #b00612;
}

.logo .uno {
  left: 0;
}

.logo .dos {
  background: #e50815;
  left: 0;
  z-index: 1;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: skewX(25.4deg);
          transform: skewX(25.4deg);
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
}

.logo .tres {
  right: 0;
}

.logo::before {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
  width: 120%;
  height: 30px;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
}

.name {
  text-transform: uppercase;
  letter-spacing: 15px;
  -webkit-animation: 4s name linear;
          animation: 4s name linear;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 45px;
  font-weight: bold;
}

.info {
  margin: 80px 40px;
  padding: 5rem auto;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content h2 {
  position: relative;
  margin-top: 5rem;
}

.content p {
  font-size: 1.2rem;
  padding-right: 20px;
  overflow: hidden;
}

.img {
  width: 500px;
  height: 500px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer {
  padding: 30px 40px;
  background-color: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer ul, li {
  list-style: none;
  padding-left: 5px;
}

.social-link {
  margin-left: 200px;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes name {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  80% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes name {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  80% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=style.css.map */