body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
}


.navbar {
  width: 300px;
  margin-bottom: 0;
  padding: 0;
  font-weight: normal;
}
.nav-item {
  list-style: none;
  display: flex;
  font-size: 1rem;
  justify-content: space-between; 
  align-items: flex-end;
}

.logo {
  position: relative;
  width: 700px;
  height: 500px;
  animation: 4s fadein;
  margin-left: -30px;
  .uno,
  .dos,
  .tres {
    position: absolute;
    width: 120px;
    height: 100%;
    background: #b00612;
  }
  .uno {
    left: 0;
  }
  .dos {
    background: #e50815;
    left: 0;
    z-index: 1;
    transform-origin: top left;
    transform: skewX(25.4deg);
    box-shadow: 0 0 20px black;
  }
  .tres {
    right: 0;
  }
  &::before {
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 10;
    width: 120%;
    height: 30px;
    //   background: black;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
  }
}

.name {
  text-transform: uppercase;
  letter-spacing: 15px;
  animation: 4s name linear;
  text-align: center;
  align-items: center;
  font-size: 45px;
  font-weight: bold;
}

.info {
    margin: 80px 40px;
    padding: 5rem auto;
}

.content {
    display: flex;
    justify-content: center;
}
.content h2{
  position: relative;
  margin-top: 5rem;
}
.content p {
  font-size: 1.2rem;
  padding-right: 20px;
  overflow: hidden;
}



.img {
  width: 500px;
  height: 500px;
  position: relative;
  display: flex;
}

footer {
  padding: 30px 40px;
  background-color: blue;
  display: flex;
  flex-direction: row;
}
footer ul, li {
  list-style: none;
  padding-left: 5px ;
}
.social-link {
  margin-left: 200px;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes name {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  80% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

// about page
.about {
  width: 100%;
  height: 50vh;
  text-align: center;
  justify-content: center;
  background: linear-gradient(to right, rgb(42, 54, 231), rgb(224, 14, 66));
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
}
.about h2 {
  font-size: 2.5rem;
  line-height: .5rem;
}
// cards
.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}